<div class="row">
    <button class="button ac">ac</button>
    <button class="button ce">ce</button>
    <button class="button div" (click)="buttonPress('/')">%</button>
    <button class="button mult" (click)="buttonPress('*')">x</button>
</div>

<div class="row">
    <button class="button seven" (click)="buttonPress('7')">7</button>
    <button class="button eight" (click)="buttonPress('8')">8</button>
    <button class="button nine" (click)="buttonPress('9')">9</button>
    <button class="button minus" (click)="buttonPress('-')">−</button>
</div>

<div class="row">
    <button class="button four" (click)="buttonPress('4')">4</button>
    <button class="button five" (click)="buttonPress('5')">5</button>
    <button class="button six" (click)="buttonPress('6')">6</button>
    <button class="button plus" (click)="buttonPress('+')">+</button>
</div>

<div class="bottom-row">
    <div class="left">
        <div class="row">
            <button class="button one" (click)="buttonPress('1')">1</button>
            <button class="button two" (click)="buttonPress('2')">2</button>
            <button class="button three" (click)="buttonPress('3')">3</button>
        </div>

        <div class="row">
            <button class="button zero" (click)="buttonPress('0')">0</button>
            <button class="button dot" (click)="buttonPress('.')">.</button>
        </div>
    </div>

    <div class="right">
        <div class="button eq">=</div>
    </div>

</div>