/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0px;
    background: lightblue;
    font-family: Arial, sans-serif;
    transition: background .1s;
}